[submodule "tensor-array-repo/Tensor-Array"]
	path = tensor-array-repo/Tensor-Array
	url = https://github.com/Tensor-Array/Tensor-Array
[submodule "third_party/pybind11"]
	path = third_party/pybind11
